.page-footer {
  background-color: $bg-main;
}

.page-footer__hashtag {
  margin-top: 28.5px;
  margin-bottom: 33.5px;
}

.social__list {
  margin-bottom: 40px;
}

.social__item {
  background-color: $bg-second;
}

.page-footer__copyright {
  margin-bottom: 22.9px;
}