.page {
  height: 100%;
  font-family: $main-font;
  font-style: normal;
  box-sizing: border-box;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $bg-main;
  min-width: 320px;
}
