.page-header {
  margin: 0;
  padding: 0;
}

.page-header__wrapper {
  position: relative;
  background-color: $bg-main;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width-min) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width-min) {
    max-width: 1200px;
  }
}

.page-header__logo {
  margin-bottom: -28px;
  width: 102px;
  height: 84px;
  box-shadow: none;
  z-index: 1;

  @media (min-width: $tablet-width-min) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }
}