.site-list__item {
  width: 100%;
  background-color: $bg-second;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  text-align: center;

  @media (min-width: $tablet-width-min) {
    background-color: $bg-main;
    box-shadow: none;
  }

  &--logo {
    display: none;

    @media (min-width: $tablet-width-min) {
      display: block;
    }
  }
}

.site-list__link {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;

  @media (min-width: $tablet-width-min) {
    padding-top: 16px;
    padding-bottom: 14px;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
  }
}