.site-list {
  background-color: $bg-second;
  
  @media (min-width: $tablet-width-min) {
    background-color: $bg-main;
  }
}

.site-list__item {
  width: 100%;
  background-color: $bg-second;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  text-align: center;
  margin-bottom: 1px;

  &:first-child {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
  }

  &:last-child {
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  &:hover {
    background-color: #669EC0;

    @media (min-width: $tablet-width-min) {
      background-color: $bg-main;
    }
  }

  &:active {
    background-color: #5496BD;

    @media (min-width: $tablet-width-min) {
      background-color: $bg-main;
    }
  }

  @media (min-width: $tablet-width-min) {
    background-color: $bg-main;
    box-shadow: none;
    margin-bottom: 0;
  }

  &--logo {
    display: none;

    @media (min-width: $tablet-width-min) {
      display: block;
    }
  }

  &--active a {
    color: #766357;

    &:hover {
      color: #604E43;
    }

    &:active {
      color: rgba(118, 99, 87, 0.3);
    }
  }
}

.site-list__link {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;

  &[href] {
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    @media (min-width: $tablet-width-min) {
      &:hover {
        color: $bg-second;
      }
      &:active {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  @media (min-width: $tablet-width-min) {
    padding-top: 16px;
    padding-bottom: 14px;
    color: #000000;
    font-size: 14px;
    line-height: 26px;
  }
}
