.advantages__item {
  padding-bottom: 24px;
}

.advantage__header {
  background-color: #eeeeee;
  &--explicit {
    background-color: $bg-second;
  }
}

.advantage__title--explicit {
  color: #ffffff;
}

.advantage__number--explicit {
  color: #ffffff;
}

.advantage__description--explicit {
  color: #ffffff;
}

.detail__item {
  background-color: $bg-main;
}
