.intro__background {
  background-image: url('../../../img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
}

.intro__description {
  background-color: $bg-main;
}

.intro__title {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.intro__text {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase;
}
