.advantage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;

  &--explicit {
    background-color: $bg-main;
  }

  @media (min-width: $tablet-width-min) {
    flex-basis: 33.33%;
    min-height: 256px;

    &--explicit {
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: 100%;
    }

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: $tablet-width-min) {
    align-items: stretch;
  }
}

.advantage__header {
  width: 100%;

  &--decor {
    &::after {
      position: absolute;
      content: "";
      width: 85%;
      height: 1px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #d6d6d6;

      @media (min-width: $tablet-width-min) {
        display: none;
      }
    }
  }

  &--explicit {
    background-color: $bg-second;
  }

  @media (min-width: $tablet-width-min) {
    padding: 0;
    flex-basis: 33.33%;
    display: flex;
  }
}

.advantage__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 28px 20px 24px;

  //*pixel-perfect
  @media (min-width: $tablet-width-min) {
    flex-basis: 75%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width-min) {
    flex-basis: 71%;
  }

  &--city {
    margin: 34px 0 39px;

    @media (min-width: $tablet-width-min) {
      margin: 40px auto 44px;
    }

    @media (min-width: $desktop-width-min) {
      margin-top: 47px;
      margin-bottom: 57px;
    }
  }

  &--bridge {
    margin: 39px 0 35px;

    @media (min-width: $tablet-width-min) {
      margin: 45px auto 41px;
    }

    @media (min-width: $desktop-width-min) {
      margin-top: 51px;
      margin-bottom: 53px;
    }
  }
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 11px;

  &--explicit {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    br {
      display: none;
    }
  }
}

.advantage__number {
  margin-top: 0;
  margin-bottom: 17px;

  &--explicit {
    color: #ffffff;
  }

  @media (min-width: $tablet-width-min) {
    margin-bottom: 25px;
  }
}

.advantage__description {
  margin-top: 0;
  margin-bottom: 0;

  &--explicit {
    color: #ffffff;
  }

  @media (max-width: $desktop-width-min) {
    br {
      display: none;
    }
  }
}

.advantage__img-wrapper {
  height: 260px;
  width: 100%;

  @media (min-width: $tablet-width-min) {
    width: 0;
    height: 256px;
    flex-grow: 1;
  }
}

.advantage__img {
  width: 320px;
  height: 260px;
  margin: 0 auto;
  line-height: 0;
  background-repeat: no-repeat;
  background-position: center;

  &--city {
    background-image: url("../img/main-city-mobile@1x.jpg");
    background-color: #c1844b;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-city-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: $tablet-width-min) {
      background-image: url("../img/main-city-tablet@1x.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-city-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width-min) {
      background-image: url("../img/main-city-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-city-desktop@2x.jpg");
      }
    }
  }

  &--bridge {
    background-image: url("../img/main-bridge-mobile@1x.jpg");
    background-color: #d36f49;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-bridge-mobile@2x.jpg");
      background-size: 320px auto;
    }

    @media (min-width: $tablet-width-min) {
      background-image: url("../img/main-bridge-tablet@1x.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-bridge-tablet@2x.jpg");
      }
    }

    @media (min-width: $desktop-width-min) {
      background-image: url("../img/main-bridge-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/main-bridge-desktop@2x.jpg");
      }
    }
  }

  @media (min-width: $tablet-width-min) {
    width: 100%;
    margin: 0;
    height: 256px;
  }
  //   width: 0;
  //   flex-grow: 1;
  // }
}

.advantage__details {
  display: flex;
  flex-direction: column;
  margin: 26px auto 35px;
  //* pixel-perfect
  margin-left: 20px;

  @media (min-width: $tablet-width-min) {
    flex-direction: row;
    margin: 57px 0 59px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 80px;
  }
}
