.advantage{
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width-min) {
    min-width: 256px;
  }
  @media (min-width: $desktop-width-min) {
    min-width: 400px;
  }
}

.advantage__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #eeeeee;

  &--explicit {
    background-color: $bg-second;
  }
}

.advantage__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width-min) {
    margin-top: 43px;
    margin-bottom: 40px;
  }
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 11px;

  &--explicit {
    color: #ffffff;
  }
}

.advantage__number {
  margin-top: 0;
  margin-bottom: 17px;

  &--explicit {
    color: #ffffff;
  }
}

.advantage__description {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 295px;
  text-align: center;

  &--explicit {
    color: #ffffff;
  }

  @media (min-width: $tablet-width-min) {
    max-width: 192px;
  }
}

//! БЭМ!!!!!!!!!!!!!!
.advantage--pic {
  @media (min-width: $tablet-width-min) {
    flex-grow: 1;
  }
}
