.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;

  &--explicit {
    background-color: $bg-main;
  }

  @media (min-width: $tablet-width-min) {
    flex-basis: 33.33%;
    min-height: 256px;

    &--explicit {
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: 100%;
    }

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: $tablet-width-min) {
    align-items: stretch;
  }
}

.advantage__header {
  width: 100%;

  &--explicit {
    background-color: $bg-second;
  }

  @media (min-width: $tablet-width-min) {
    flex-basis: 33.33%;
    display: flex;
  }
}

.advantage__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width-min) {
    flex-basis: 75%;
    margin: auto;
  }
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 11px;

  &--explicit {
    color: #ffffff;
  }
}

.advantage__number {
  margin-top: 0;
  margin-bottom: 17px;

  &--explicit {
    color: #ffffff;
  }
}

.advantage__description {
  margin-top: 0;
  margin-bottom: 0;

  &--explicit {
    color: #ffffff;
  }
}

.advantage__img {
  max-width: 100%;
  height: auto;

  @media (min-width: $tablet-width-min) {
    flex-basis: 66%;
    flex-grow: 1;
  }
}

.advantage__details {
  display: flex;
  flex-direction: column;
  margin: 26px auto 35px;

  @media (min-width: $tablet-width-min) {
    flex-direction: row;
    margin-top: 57px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width-min) {
    margin-bottom: 80px;
  }
}
