.booking {
  padding-top: 33px;
  padding-bottom: 49px;
}

.booking__header {
  margin-bottom: 27px;
}

.booking__title {
  margin-top: 0;
  margin-bottom: 19px;
}

.booking__text {
  margin-top: 0;
  margin-bottom: 0;
}
