.intro__header {
  display: flex;
  flex-direction: column;
}

.intro__background {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 389px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5998cd;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 768px auto;
  }

  @media (min-width: $tablet-width-min) {
    height: 518px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width-min) {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

.intro__background-img {
  width: 282px;
  height: 214px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width-min) {
    width: 461px;
    height: 350px;
    margin-top: 77px;
    margin-bottom: 34px;
  }
}

.intro__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 32px;

  @media (min-width: $tablet-width-min) {
    max-width: 520px;
    margin-top: 44px;
    // margin-bottom: 52px;
    //*pixel-perfect
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width-min) {
    margin-top: 55px;
    // margin-bottom: 41px;
    //*pixel-perfect
    margin-bottom: 33px;
  }
}

.intro__description-decor {
  width: 100%;
  height: 37px;
  background-color: $bg-second;

  @media (min-width: $tablet-width-min) {
    display: none;
  }
}

.intro__title {
  margin: 0;
  padding: 0;
  // margin-bottom: 27px;
  //*pixel-perfect
  margin-bottom: 30px;
  line-height: 27px;
}

.intro__text {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
}
