.intro {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width-min) {
    width: 768px;
  }

  @media (min-width: $desktop-width-min) {
    width: 1200px;
  }
}

.intro__header {
  display: flex;
  flex-direction: column;
}

.intro__background {
  display: flex;
  //height: 389px;
  background-image: url("https://htmlacademy-adaptive.github.io/835565-sedona-20/5/img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg-main;

  @media (min-width: $tablet-width-min) {
    background-image: url("https://htmlacademy-adaptive.github.io/835565-sedona-20/5/img/bg-back-desktop@1x.jpg");
  }
}

.intro__background-img {
  margin: auto;
  margin-top: 90px;
  margin-bottom: 28px;

  @media (min-width: $tablet-width-min) {
    margin-top: 77px;
    margin-bottom: 34px;
  }
}

.intro__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 11px;
  width: 295px;       //! несоответствие макету, с макетной шириной текст располагается по-другому
  max-width: 520px;

  @media (min-width: $tablet-width-min) {
    width: auto;
    margin-top: 44px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width-min) {
    margin-top: 55px;
    margin-bottom: 41px;
  }
}

.intro__title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  text-align: center;
}

.intro__text {
  margin: 0;
  padding: 0;
}
