.map {
  display: flex;
  flex-direction: column;
}

.map__content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  @media (min-width: $tablet-width-min) {
    margin-bottom: 0;
  }
}

.map__img {
  max-width: 100%;
  height: auto;
}
