.text-title {
  @include text-title;
}

.text-title--promo {
  font-size: 21px;
}

.text-description {
  @include text-description;
}

.text-description--promo {
  line-height: 26px;
}

.text-description--sub {
  line-height: 24px;
}

.text-copyright {
  @include text-description;
  line-height: 26px;
  color: #000000;
}
