.field {
  margin: 0;
  padding: 0;
  border: none;
  flex-grow: 1;
  background-color: $bg-field;
  overflow: hidden;

  @include text-title;

  @media (min-width: $tablet-width-min) {
    font-size: 18px;
  }

  &--text {
    text-transform: none;
    padding-top: 18px;
    padding-left: 22px;
    padding-bottom: 14px;

    &:hover {
      background-color: $form-interaction-color;
    }

    &:focus {
      padding-top: calc(#{$field-text-padding-top} - #{$field-text-focus-border});
      padding-left: calc(#{$field-text-padding-left} - #{$field-text-focus-border});
      padding-bottom: calc(#{$field-text-padding-bottom} - #{$field-text-focus-border});
      background-color: #ffffff;
      border: $field-text-focus-border solid $form-interaction-color;
    }
  }

  &--area {
    min-height: 160px;
    padding: 13px 23px 29px 21px;
    border: none;
    text-transform: none;

    @media (min-width: $tablet-width-min) {
      padding: 18px 21px 24px;
    }
  }
}
