.field {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  flex-grow: 1;
  background-color: $bg-field;
  overflow: hidden;

  &--text {
    @include text-title;
    text-transform: none;
    padding-top: 18px;
    padding-left: 22px;
    padding-bottom: 14px;
  }

  &--area {
    height: 160px;
    padding: 13px 23px 29px 21px;
    border: none;
    @include text-title;
    text-transform: none;
  }
}
