// ПРИМЕСИ

@mixin text-title {
  font-weight: $weight-bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $tablet-width-min) {
    font-size: 21px;
  }
}

@mixin text-description {
  font-weight: $weight-norm;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

@mixin button-style {
  padding: 0;
  border: none;
  font-weight: $weight-bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
}
