.video {
  padding-top: 32px;
  padding-bottom: 49px;
}

.video__header {
  margin-top: 0;
  margin-bottom: 33px;
}

.video__title {
  margin-top: 0;
  margin-bottom: 27px;
}

.video__text {
  margin-top: 0;
  margin-bottom: 0;
}
